# Obtención de Datos Mediante APIs en Python

Alguna de las formas de obtención de datos es a través de **APIs (Application Programming Interfaces)**. Las APIs son una forma eficiente de acceder a datos y servicios en línea. Aprenderemos a realizar solicitudes a través de Python utilizando la popular biblioteca `requests`.

## Introducción a las APIs

Una API (Application Programming Interface) es un conjunto de reglas y protocolos que permiten a diferentes aplicaciones interactuar entre sí. Las APIs permiten a las aplicaciones solicitar datos o realizar acciones en un servidor remoto de manera estructurada y estandarizada.

![imagen](./img/http.PNG)

## Protocolo HTTP

El Protocolo de Transferencia de Hipertexto (HTTP) es el protocolo subyacente utilizado en la World Wide Web. Se utiliza para solicitar y transmitir datos en la web. 

![imagen](./img/peticion_respuesta.PNG)

Aquí tienes un ejemplo de arquitectura:

![imagen](./img/arquitectura_servidor.PNG)

Las solicitudes HTTP se pueden realizar utilizando varios métodos, siendo los más comunes:

* **GET**: Para recuperar datos.
* **POST**: Para enviar datos al servidor.
* **PUT**: Para actualizar datos en el servidor.
* **DELETE**: Para eliminar datos en el servidor.


![imagen](./img/documentacion_api.PNG)

Podemos hacer una petición:

![imagen](./img/parametros.PNG)

y obtener como respuesta diferentes códigos:

![imagen](./img/status_codes.PNG)

Ejemplo de la API de Marvel. La URL se construye como *urlbase* + *endpoint* + *params*

En general para acceder a un servicio de una API la URL se construye como *urlbase* + *endpoint* + *params*

![imagen](./img/MarvelAccessPoints.png)

## Biblioteca ``requests``

La biblioteca requests es una de las más populares para realizar solicitudes HTTP en Python. Permite enviar solicitudes y procesar respuestas de una manera sencilla y eficiente.

In [ ]:
#!pip install requests

In [ ]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

## Primera petición

In [ ]:
url = "https://pbs.twimg.com/profile_images/616689518968762368/rkhjKqNb.jpg"
image = requests.get(url)

In [ ]:
image

In [ ]:
image.content

### Mediante pandas

In [ ]:
df_inflation = pd.read_csv('https://datahub.io/core/inflation/r/inflation-gdp.csv')
df_inflation.head()

In [ ]:
df_inflation[df_inflation['Country'] == "Spain"]

## Bajar datos de Bicimad

In [ ]:
url = 'https://opendata.emtmadrid.es/getattachment/c3383795-121b-4ebf-98b4-c7b05e902eaf/202106_movements.aspx'

r = requests.get(url)

In [ ]:
r

In [ ]:
r.content

In [ ]:
# Guardamos el zip
filename = 'data/bicis.zip'
with open(filename, 'wb') as f:
   f.write(r.content)

In [ ]:
# Extraemos lo que hay dentro
filename = 'data/bicis.zip'
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall("data/")

In [ ]:
## Leemos los datos
datos_bicis = pd.read_json('data/202106_movements.json', lines=True, encoding='latin-1', nrows=10000)

In [ ]:
# Vemos qué pinta tienen
datos_bicis.head()

In [ ]:
datos_bicis.info()

In [ ]:
datos_bicis['zip_code'].unique()

## Api chucknorris

[Enlace API](https://api.chucknorris.io/)

In [7]:
url = "https://api.chucknorris.io/jokes/random"  # Reemplaza con la URL de la API que deseas acceder.

response = requests.get(url)
response.json()
if response.status_code == 200:  # Código 200 indica una respuesta exitosa.
    data = response.json()  # Analizar la respuesta JSON.
    #print(data["value"])
    print(data)
else:
    print("Error en la solicitud: ", response.status_code)
data["value"]

{'categories': ['religion'], 'created_at': '2020-01-05 13:42:19.576875', 'icon_url': 'https://api.chucknorris.io/img/avatar/chuck-norris.png', 'id': 'hsnyecdiq0e7moidbhs3fw', 'updated_at': '2020-01-05 13:42:19.576875', 'url': 'https://api.chucknorris.io/jokes/hsnyecdiq0e7moidbhs3fw', 'value': 'Jesus can walk on water, but Chuck Norris can swim through land.'}

'Jesus can walk on water, but Chuck Norris can swim through land.'

In [8]:
def get_joke(url):
    response = requests.get(url)

    if response.status_code == 200:  # Código 200 indica una respuesta exitosa.
        data = response.json()  # Analizar la respuesta JSON.
        return data
    else:
        print("Error en la solicitud: ", response.status_code)

In [9]:
url = "https://api.chucknorris.io/jokes/categories"
get_joke(url)

['animal',
 'career',
 'celebrity',
 'dev',
 'explicit',
 'fashion',
 'food',
 'history',
 'money',
 'movie',
 'music',
 'political',
 'religion',
 'science',
 'sport',
 'travel']

In [10]:
url = "https://api.chucknorris.io/jokes/random?category=animal"
get_joke(url)

{'categories': ['animal'],
 'created_at': '2020-01-05 13:42:19.104863',
 'icon_url': 'https://api.chucknorris.io/img/avatar/chuck-norris.png',
 'id': 'o0sukejatqchi7oyjms6mw',
 'updated_at': '2020-01-05 13:42:19.104863',
 'url': 'https://api.chucknorris.io/jokes/o0sukejatqchi7oyjms6mw',
 'value': 'Chuck Norris can set ants on fire with a magnifying glass. At night.'}

In [ ]:
joke = get_joke(url)
joke["value"]

### POST

In [11]:
# URL de la API de prueba
url = "https://reqres.in/api/users"

# Datos a enviar en el request
data = {
    "name": "Juan Pérez",
    "job": "Científico de Datos"
}

# Enviar solicitud POST
response = requests.post(url, json=data)

# Verificar la respuesta
if response.status_code == 201:  # Código 201 = Creado exitosamente
    print("Usuario creado con éxito.")
    print("Respuesta de la API:", response.json())  # Mostrar datos devueltos
else:
    print("Error en la solicitud:", response.status_code)

Usuario creado con éxito.
Respuesta de la API: {'name': 'Juan Pérez', 'job': 'Científico de Datos', 'id': '64', 'createdAt': '2025-03-27T11:16:42.712Z'}

## Datos del espacio

In [76]:
'''
https://thespacedevs.com/llapi
https://ll.thespacedevs.com/2.2.0/swagger
'''
space_url = "http://ll.thespacedevs.com/2.2.0"

path = "/astronaut"

url_total = space_url + path #+ "/?limit=20"

response = requests.get(url_total)

In [77]:
print(url_total)

http://ll.thespacedevs.com/2.2.0/astronaut

In [78]:
print(response.status_code)
#type(response.content)
#response.json()

429

In [79]:
type(response.content)

bytes

In [80]:
astronautas = response.json()
astronautas

{'detail': 'Request was throttled. Expected available in 173 seconds.'}

In [81]:
astronautas["results"][0]["name"]

KeyError: 'results'

In [ ]:
astronautas["results"][0]["status"]["name"]

'Active'

In [ ]:
#pd.DataFrame(astronautas["results"])

In [ ]:
astronautas["results"][0]["agency"]["type"]

'Multinational'

In [ ]:
for astronauta in astronautas["results"]:
    print(astronauta)

{'id': 1, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/', 'name': 'Thomas Pesquet', 'status': {'id': 1, 'name': 'Active'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P396DT11H33M45S', 'eva_time': 'P1DT15H54M', 'age': 47, 'date_of_birth': '1978-02-27', 'date_of_death': None, 'nationality': 'French', 'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.', 'twitter': 'https://twitter.com/Thom_astro', 'instagram': 'https://instagram.com/thom_astro', 'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet', 'agency': {'id': 27, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/', 'name': 'European Space Agency', 'featured': False, 'type': 'Multinational', 'country_code': 'FRA,ITA,DEU,ESP,CHE,GBR,AUT,SWE,PRT,NLD,HUN,POL,DNK,CZE,ROU,NOR,FIN,GRC,EST,IRL,LUX,BEL,SVN', 'abbrev': 'ESA', 'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.", 'administrator': 'Director General: Josef Aschbacher', 'founding_year': '1975', 'launchers': 'Ariane | Vega', 'spacecraft': 'Space Rider', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/esa_patch_float_image_20250211192109.png', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/european2520space2520agency_logo_20221130101442.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/thomas2520pesquet_image_20200102120546.jpeg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305190357.jpeg', 'flights_count': 2, 'landings_count': 2, 'spacewalks_count': 6, 'last_flight': '2021-04-23T09:49:02Z', 'first_flight': '2016-11-17T20:20:13Z'}
{'id': 2, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/2/', 'name': 'Claude Nicollier', 'status': {'id': 2, 'name': 'Retired'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P42DT12H3M12S', 'eva_time': 'PT8H10M', 'age': 80, 'date_of_birth': '1944-09-02', 'date_of_death': None, 'nationality': 'Swiss', 'bio': 'Claude Nicollier is the first astronaut from Switzerland. He has flown on four Space Shuttle missions. His first spaceflight (STS-46) was in 1992, and his final spaceflight (STS-103) was in 1999. He took part in two servicing missions to the Hubble Space Telescope (called STS-61 and STS-103). During his final spaceflight he participated in a spacewalk, becoming the first European Space Agency astronaut to do so during a Space Shuttle mission. In 2000 he was assigned to the Astronaut Office Extravehicular Activity Branch, while maintaining a position as Lead ESA Astronaut in Houston. Nicollier retired from ESA in April 2007.', 'twitter': 'https://twitter.com/Astroclaude', 'instagram': None, 'wiki': 'https://en.wikipedia.org/wiki/Claude_Nicollier', 'agency': {'id': 27, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/', 'name': 'European Space Agency', 'featured': False, 'type': 'Multinational', 'country_code': 'FRA,ITA,DEU,ESP,CHE,GBR,AUT,SWE,PRT,NLD,HUN,POL,DNK,CZE,ROU,NOR,FIN,GRC,EST,IRL,LUX,BEL,SVN', 'abbrev': 'ESA', 'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.", 'administrator': 'Director General: Josef Aschbacher', 'founding_year': '1975', 'launchers': 'Ariane | Vega', 'spacecraft': 'Space Rider', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/esa_patch_float_image_20250211192109.png', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/european2520space2520agency_logo_20221130101442.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/claude2520nicollier_image_20181127203218.jpg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305185551.jpeg', 'flights_count': 4, 'landings_count': 4, 'spacewalks_count': 1, 'last_flight': '1999-12-20T00:50:00Z', 'first_flight': '1992-07-31T13:56:48Z'}
{'id': 3, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/3/', 'name': 'Tim Peake', 'status': {'id': 2, 'name': 'Retired'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P185DT22H11M51S', 'eva_time': 'PT4H43M', 'age': 52, 'date_of_birth': '1972-04-07', 'date_of_death': None, 'nationality': 'British', 'bio': "Major Timothy Nigel Peake CMG is a British Army Air Corps officer, former European Space Agency astronaut and International Space Station (ISS) crew member.  He is the first British ESA astronaut, the second astronaut to bear a flag of the United Kingdom patch, the sixth person born in the United Kingdom to go on board the International Space Station and the seventh UK-born person in space. He began the ESA's intensive astronaut basic training course in September 2009 and graduated on 22 November 2010", 'twitter': 'https://twitter.com/astro_timpeake', 'instagram': 'https://www.instagram.com/astro_timpeake/', 'wiki': 'https://en.wikipedia.org/wiki/Tim_Peake', 'agency': {'id': 27, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/', 'name': 'European Space Agency', 'featured': False, 'type': 'Multinational', 'country_code': 'FRA,ITA,DEU,ESP,CHE,GBR,AUT,SWE,PRT,NLD,HUN,POL,DNK,CZE,ROU,NOR,FIN,GRC,EST,IRL,LUX,BEL,SVN', 'abbrev': 'ESA', 'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.", 'administrator': 'Director General: Josef Aschbacher', 'founding_year': '1975', 'launchers': 'Ariane | Vega', 'spacecraft': 'Space Rider', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/esa_patch_float_image_20250211192109.png', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/european2520space2520agency_logo_20221130101442.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/tim_peake_image_20230120154350.jpg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305185843.jpeg', 'flights_count': 1, 'landings_count': 1, 'spacewalks_count': 1, 'last_flight': '2015-12-15T11:03:09Z', 'first_flight': '2015-12-15T11:03:09Z'}
{'id': 4, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/4/', 'name': 'Buzz Aldrin', 'status': {'id': 2, 'name': 'Retired'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P9DT8H43M58S', 'eva_time': 'PT8H1M40S', 'age': 95, 'date_of_birth': '1930-01-20', 'date_of_death': None, 'nationality': 'American', 'bio': 'Buzz Aldrin; born Edwin Eugene Aldrin Jr.; is an American engineer, former astronaut, and fighter pilot.\r\nAs Lunar Module Pilot on the Apollo 11 mission, he and mission commander Neil Armstrong were the first two humans to land on the Moon.', 'twitter': 'https://twitter.com/TheRealBuzz', 'instagram': 'https://www.instagram.com/drbuzzaldrin/', 'wiki': 'https://en.wikipedia.org/wiki/Buzz_Aldrin', 'agency': {'id': 44, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/', 'name': 'National Aeronautics and Space Administration', 'featured': True, 'type': 'Government', 'country_code': 'USA', 'abbrev': 'NASA', 'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.', 'administrator': 'Acting Administrator:  James Free', 'founding_year': '1958', 'launchers': 'Space Shuttle | SLS', 'spacecraft': 'Orion', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/buzz_aldrin_image_20220911034547.jpeg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305185225.jpeg', 'flights_count': 2, 'landings_count': 2, 'spacewalks_count': 4, 'last_flight': '1969-07-21T17:54:00Z', 'first_flight': '1966-11-11T20:46:33Z'}
{'id': 5, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/5/', 'name': 'Chris Hadfield', 'status': {'id': 2, 'name': 'Retired'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P165DT16H19M', 'eva_time': 'PT14H50M', 'age': 65, 'date_of_birth': '1959-08-29', 'date_of_death': None, 'nationality': 'Canadian', 'bio': 'Chris Austin Hadfield is a Canadian retired astronaut, engineer, and former Royal Canadian Air Force fighter pilot.\r\nThe first Canadian to walk in space, Hadfield has flown two space shuttle missions and served as commander of the International Space Station.', 'twitter': 'https://twitter.com/Cmdr_Hadfield', 'instagram': 'https://www.instagram.com/colchrishadfield/', 'wiki': 'https://en.wikipedia.org/wiki/Chris_Hadfield', 'agency': {'id': 16, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/', 'name': 'Canadian Space Agency', 'featured': False, 'type': 'Government', 'country_code': 'CAN', 'abbrev': 'CSA', 'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.', 'administrator': 'President: Lisa Campbell', 'founding_year': '1990', 'launchers': '', 'spacecraft': '', 'parent': None, 'image_url': None, 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/canadian2520space2520agency_logo_20231122160211.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/chris_hadfield_image_20220911034200.jpeg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305190208.jpeg', 'flights_count': 3, 'landings_count': 3, 'spacewalks_count': 2, 'last_flight': '2012-12-19T12:12:35Z', 'first_flight': '1995-11-12T12:30:43Z'}
{'id': 6, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/6/', 'name': 'David Saint-Jacques', 'status': {'id': 1, 'name': 'Active'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P203DT12H28M8S', 'eva_time': 'PT6H29M', 'age': 55, 'date_of_birth': '1970-01-06', 'date_of_death': None, 'nationality': 'Canadian', 'bio': 'David Saint-Jacques is a Canadian astronaut with the Canadian Space Agency (CSA).\r\nHe was also an engineer, an astrophysicist, and a physician prior to joining the CSA.\r\nHe was selected to join the CSA in the 2009 CSA selection along with Jeremy Hansen.', 'twitter': 'https://twitter.com/Astro_DavidS', 'instagram': 'https://www.instagram.com/astrodavids/', 'wiki': 'https://en.wikipedia.org/wiki/David_Saint-Jacques', 'agency': {'id': 16, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/', 'name': 'Canadian Space Agency', 'featured': False, 'type': 'Government', 'country_code': 'CAN', 'abbrev': 'CSA', 'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.', 'administrator': 'President: Lisa Campbell', 'founding_year': '1990', 'launchers': '', 'spacecraft': '', 'parent': None, 'image_url': None, 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/canadian2520space2520agency_logo_20231122160211.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/david_saint-jac_image_20220911034207.jpeg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305191004.jpeg', 'flights_count': 1, 'landings_count': 1, 'spacewalks_count': 1, 'last_flight': '2018-12-03T11:31:52Z', 'first_flight': '2018-12-03T11:31:52Z'}
{'id': 7, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/7/', 'name': 'Anne McClain', 'status': {'id': 1, 'name': 'Active'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': True, 'time_in_space': 'P215DT15H48M10S', 'eva_time': 'PT13H8M', 'age': 45, 'date_of_birth': '1979-06-07', 'date_of_death': None, 'nationality': 'American', 'bio': 'Anne Charlotte McClain is a lieutenant colonel in the U.S. Army currently assigned to NASA Astronaut Group 21.', 'twitter': 'https://twitter.com/AstroAnnimal', 'instagram': None, 'wiki': 'https://en.wikipedia.org/wiki/Anne_McClain', 'agency': {'id': 44, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/', 'name': 'National Aeronautics and Space Administration', 'featured': True, 'type': 'Government', 'country_code': 'USA', 'abbrev': 'NASA', 'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.', 'administrator': 'Acting Administrator:  James Free', 'founding_year': '1958', 'launchers': 'Space Shuttle | SLS', 'spacecraft': 'Orion', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/anne2520mcclain_image_20181127210625.jpg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305185442.jpeg', 'flights_count': 2, 'landings_count': 1, 'spacewalks_count': 2, 'last_flight': '2025-03-14T23:03:48Z', 'first_flight': '2018-12-03T11:31:52Z'}
{'id': 8, 'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/8/', 'name': 'Andrew R. Morgan', 'status': {'id': 1, 'name': 'Active'}, 'type': {'id': 2, 'name': 'Government'}, 'in_space': False, 'time_in_space': 'P271DT12H48M22S', 'eva_time': 'P1DT21H48M', 'age': 49, 'date_of_birth': '1976-02-05', 'date_of_death': None, 'nationality': 'American', 'bio': 'Andrew Richard "Drew" Morgan is a NASA astronaut from the class of 2013.', 'twitter': 'https://twitter.com/AstroDrewMorgan', 'instagram': 'https://www.instagram.com/astrodrewmorgan/', 'wiki': 'https://en.wikipedia.org/wiki/Andrew_R._Morgan', 'agency': {'id': 44, 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/', 'name': 'National Aeronautics and Space Administration', 'featured': True, 'type': 'Government', 'country_code': 'USA', 'abbrev': 'NASA', 'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.', 'administrator': 'Acting Administrator:  James Free', 'founding_year': '1958', 'launchers': 'Space Shuttle | SLS', 'spacecraft': 'Orion', 'parent': None, 'image_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg', 'logo_url': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'}, 'profile_image': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/andrew_r._morga_image_20220911034204.jpeg', 'profile_image_thumbnail': 'https://thespacedevs-prod.nyc3.digitaloceanspaces.com/media/images/255bauto255d__image_thumbnail_20240305185549.jpeg', 'flights_count': 1, 'landings_count': 1, 'spacewalks_count': 7, 'last_flight': '2019-07-20T16:28:21Z', 'first_flight': '2019-07-20T16:28:21Z'}

In [ ]:

astro_dict = {
    "name":[],
    "status":[],
    "type":[]
}

for astronauta in astronautas["results"]:
    #print(astronauta["name"])
    #print(astronauta["status"]["name"])
    #print(astronauta["agency"]["type"])
    #print()
    astro_dict["name"].append(astronauta["name"])
    astro_dict["status"].append(astronauta["status"]["name"])
    astro_dict["type"].append(astronauta["agency"]["type"])
    
astro_dict

{'name': ['Thomas Pesquet',
  'Claude Nicollier',
  'Tim Peake',
  'Buzz Aldrin',
  'Chris Hadfield',
  'David Saint-Jacques',
  'Anne McClain',
  'Andrew R. Morgan',
  'Nick Hague',
  'Terry W. Virts'],
 'status': ['Active',
  'Retired',
  'Retired',
  'Retired',
  'Retired',
  'Active',
  'Active',
  'Active',
  'Active',
  'Retired'],
 'type': ['Multinational',
  'Multinational',
  'Multinational',
  'Government',
  'Government',
  'Government',
  'Government',
  'Government',
  'Government',
  'Government']}

In [ ]:
astrodf = pd.DataFrame(astro_dict)
astrodf

                  name   status           type
0       Thomas Pesquet   Active  Multinational
1     Claude Nicollier  Retired  Multinational
2            Tim Peake  Retired  Multinational
3          Buzz Aldrin  Retired     Government
4       Chris Hadfield  Retired     Government
5  David Saint-Jacques   Active     Government
6         Anne McClain   Active     Government
7     Andrew R. Morgan   Active     Government
8           Nick Hague   Active     Government
9       Terry W. Virts  Retired     Government

In [ ]:
url_total

In [ ]:
url_total = space_url + path + "/?age=45"

response_sp = requests.get(url_total)

In [ ]:
response_sp

In [ ]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut/?age=45'

In [ ]:
response_sp.json()

{'detail': 'Request was throttled. Expected available in 163 seconds.'}

In [ ]:
response_sp.json()['results']

In [ ]:
results = response_sp.json()['results']
len(results)

In [ ]:
type(results)

In [ ]:
results[0]

In [ ]:
pd.DataFrame(response_sp.json()['results'])

In [ ]:
response_sp.json()

In [ ]:
response_sp.json()['results']

In [ ]:
pd.DataFrame(response_sp.json()['results'])

## JSON to DataFrame

Recuerda que para crear un DataFrame a partir de un diccionario este diccionario tiene que tener para cada clave una lista. Las claves serán las columnas y los items de las listas los valores de las celdas.

O si prefieres crear el DataFrame a partir de una lista de diccionarios entonces todos los diccionarios tienen que tener las mismas claves y el DataFrame resultante tendrá como columnas los nombres de las claves de cualquier diccionario (todos tienen las mismas claves) y habrá una fila con con los valores del diccionario para cada diccionario de la lista. 

La conversión de JSON no es necesariamente satisfactoria a un DataFrame de forma general. Tendrás que obtener un diccionario de listas o una lista de diccionarios del objeto JSON navegando a través de las etiquetas para obtener el DataFrame que te interesa.

In [ ]:
response_sp.json()['results'][0]

KeyError: 'results'

In [ ]:
response_sp.json()['results'][0]['status']

In [ ]:
response_sp.json()['results'][0]['status']['name']

In [ ]:
import pprint
for astronaut in response_sp.json()['results']:
    pprint.pprint(astronaut)

In [ ]:
dict = {'name':[],
        'age':[],
        'date of birth':[],
        'space walks':[],
        'active':[]}

for astronaut in response_sp.json()['results']:
    dict['name'].append(astronaut['name'])
    dict['age'].append(astronaut['age'])
    dict['date of birth'].append(astronaut['date_of_birth'])
    dict['space walks'].append(astronaut['spacewalks_count'])
    dict['active'].append(astronaut['status']['name'])

    
dict

In [ ]:
pd.DataFrame(dict)